In [1]:
import pandas as pd
from dateutil.relativedelta import relativedelta
import numpy as np

In [4]:
quarters = {1: 'Q1', 2: 'Q2', 3: 'Q3', 4: 'Q4'}

In [6]:
allowed_locations = ['AUT','AUS', 'BEL', 'DNK','DEU', 'IRL','NLD', 
                   'POL', 'PRT','ESP', 'SWE', 'USA', 'SVN','GBR']

In [13]:
#gross domestic product 
# measured percent change, quarterly 
QGDP = pd.read_csv("/Users/victoriapuck-karam/Downloads/DATA/QGDP.csv")

In [14]:
QGDP = QGDP[QGDP['LOCATION'].isin(allowed_locations)]

QGDP = QGDP.rename(columns={'TIME': 'YEAR'})
# Convert the 'YEAR' column to string type

quarter_end_dates = {
    'Q1': '01-31',
    'Q2': '04-30',
    'Q3': '07-31'
    'Q4': '10-31'
}

# Convert to the last day of the corresponding month based on the quarter
QGDP['YEAR'] = QGDP['YEAR'].apply(lambda x: pd.to_datetime(quarter_end_dates[x.split('-')[1]] + '-' + x.split('-')[0], format='%m-%d-%Y'))


QGDP

     LOCATION       YEAR      QGDP
114       AUS 1995-01-31  0.012790
115       AUS 1995-04-30  0.419946
116       AUS 1995-07-31  2.261020
117       AUS 1995-10-31 -0.018479
118       AUS 1996-01-31  1.646926
...       ...        ...       ...
4527      SWE 2022-04-30  0.794178
4528      SWE 2022-07-31  0.430340
4529      SWE 2022-10-31 -0.804787
4530      SWE 2023-01-31  0.413378
4531      SWE 2023-04-30 -0.828033

[1594 rows x 3 columns]

In [15]:
#household gross income 
# measured in percent change per capita, quarterly
HGI = pd.read_csv("/Users/victoriapuck-karam/Downloads/DATA/HGI.csv")

In [17]:
HGI = HGI[HGI['LOCATION'].isin(allowed_locations)]
HGI = HGI.rename(columns={'TIME': 'YEAR'})
# Convert the 'YEAR' column to string type

quarter_end_dates = {
    'Q1': '01-31',
    'Q2': '04-30',
    'Q3': '07-31',
    'Q4': '10-31'
}

# Convert to the last day of the corresponding month based on the quarter
HGI['YEAR'] = HGI['YEAR'].apply(lambda x: pd.to_datetime(quarter_end_dates[x.split('-')[1]] + '-' + x.split('-')[0], format='%m-%d-%Y'))


HGI

     LOCATION       YEAR  HHDI
0         AUS 1995-01-31   NaN
1         AUS 1995-04-30   NaN
2         AUS 1995-07-31   NaN
3         AUS 1995-10-31   NaN
4         AUS 1996-01-31   NaN
...       ...        ...   ...
1542      USA 2022-04-30 -0.42
1543      USA 2022-07-31  0.57
1544      USA 2022-10-31  0.14
1545      USA 2023-01-31  2.29
1546      USA 2023-04-30  0.49

[1547 rows x 3 columns]

In [20]:
# household savings 
# measured % of household income, annually  
HHSAV = pd.read_csv("/Users/victoriapuck-karam/Downloads/DATA/HHSAV.csv")
HHSAV = HHSAV[HHSAV['LOCATION'].isin(allowed_locations)]
HHSAV = HHSAV.rename(columns={'TIME': 'YEAR'})

In [23]:
HHSAV_quarters = pd.concat([HHSAV]*4, ignore_index=True)


# Creating quarter column
quarters = ['Q1', 'Q2', 'Q3', 'Q4'] * len(HHSAV)
HHSAV_quarters['QUARTER'] = quarters
HHSAV_quarters['YEAR'] = HHSAV_quarters['YEAR'].astype(str) + '-' + HHSAV_quarters['QUARTER']


HHSAV = HHSAV_quarters.drop('QUARTER', axis=1)

quarter_end_dates = {
    'Q1': '01-31',
    'Q2': '04-30',
    'Q3': '07-31',
    'Q4': '10-31'
}

# Convert to the last day of the corresponding month based on the quarter
HHSAV['YEAR'] = HHSAV['YEAR'].apply(lambda x: pd.to_datetime(quarter_end_dates[x.split('-')[1]] + '-' + x.split('-')[0], format='%m-%d-%Y'))


HHSAV

     LOCATION       YEAR      HHSAV
0         AUS 1995-01-31   4.720235
1         AUS 1996-04-30   6.253161
2         AUS 1997-07-31   3.293848
3         AUS 1998-10-31   0.767646
4         AUS 1999-01-31   0.315687
...       ...        ...        ...
5707      USA 2017-10-31   7.504951
5708      USA 2018-01-31   7.824186
5709      USA 2019-04-30   9.133134
5710      USA 2020-07-31  17.490359
5711      USA 2021-10-31  12.362904

[5712 rows x 3 columns]

In [24]:
# employee compentation, total, % of gross value added, annually
ECT = pd.read_csv("/Users/victoriapuck-karam/Downloads/DATA/COMPEMPLOYEEACTY.csv")
ECT = ECT[ECT['LOCATION'].isin(allowed_locations)]
ECT = ECT.rename(columns={'TIME': 'YEAR'})

ect_quarters = pd.concat([ECT]*4, ignore_index=True)


# Creating quarter column
quarters = ['Q1', 'Q2', 'Q3', 'Q4'] * len(ECT)
ect_quarters['QUARTER'] = quarters
ect_quarters['YEAR'] = ect_quarters['YEAR'].astype(str) + '-' + ect_quarters['QUARTER']


ECT = ect_quarters.drop('QUARTER', axis=1)

quarter_end_dates = {
    'Q1': '01-31',
    'Q2': '04-30',
    'Q3': '07-31',
    'Q4': '10-31'
}

# Convert to the last day of the corresponding month based on the quarter
ECT['YEAR'] = ECT['YEAR'].apply(lambda x: pd.to_datetime(quarter_end_dates[x.split('-')[1]] + '-' + x.split('-')[0], format='%m-%d-%Y'))


ECT

     LOCATION       YEAR  COMPEMPLOYEEACTY
0         SWE 1995-01-31         49.706725
1         SWE 1996-04-30         51.091219
2         SWE 1997-07-31         50.925700
3         SWE 1998-10-31         48.574070
4         SWE 1999-01-31         48.916415
...       ...        ...               ...
1559      NLD 2018-10-31         53.396320
1560      NLD 2019-01-31         53.640063
1561      NLD 2020-04-30         56.752975
1562      NLD 2021-07-31         54.144303
1563      NLD 2022-10-31         52.532731

[1564 rows x 3 columns]

In [25]:
# employment, thousands of people, quarterly, 
EMP = pd.read_csv("/Users/victoriapuck-karam/Downloads/DATA/EMP.csv")
EMP = EMP[EMP['LOCATION'].isin(allowed_locations)]
EMP = EMP.rename(columns={'TIME': 'YEAR'})

quarter_end_dates = {
    'Q1': '01-31',
    'Q2': '04-30',
    'Q3': '07-31',
    'Q4': '10-31'
}

# Convert to the last day of the corresponding month based on the quarter
EMP['YEAR'] = EMP['YEAR'].apply(lambda x: pd.to_datetime(quarter_end_dates[x.split('-')[1]] + '-' + x.split('-')[0], format='%m-%d-%Y'))


EMP

     LOCATION       YEAR       EMP
0         AUS 1995-01-31  67.09098
1         AUS 1995-04-30  67.61976
2         AUS 1995-07-31  67.81106
3         AUS 1995-10-31  67.92979
4         AUS 1996-01-31  67.89287
...       ...        ...       ...
3244      SVN 2022-04-30  73.01576
3245      SVN 2022-07-31  73.39708
3246      SVN 2022-10-31  72.93623
3247      SVN 2023-01-31  72.04592
3248      SVN 2023-04-30  72.95356

[1385 rows x 3 columns]

In [29]:
# usa personal bank interest rates ( Finance Rate on Personal Loans at Commercial Banks), quarterly/monthly  
USCLIR = pd.read_csv("/Users/victoriapuck-karam/Downloads/USA_CLIR.csv")
USCLIR['LOCATION'] = 'USA'

desired_order = ['LOCATION','DATE','CLIR']
USCLIR = USCLIR[desired_order]
USCLIR['DATE'] = pd.to_datetime(USCLIR['DATE']).dt.strftime('%m-%d-%Y')


USCLIR['DATE'] = pd.to_datetime(USCLIR['DATE']) + pd.offsets.MonthEnd(0)
USCLIR = USCLIR[USCLIR['DATE'].dt.month.isin([1, 4, 7, 10])]

USCLIR

    LOCATION       DATE   CLIR
2        USA 1995-04-30  14.10
5        USA 1995-07-31  14.03
8        USA 1995-10-31  13.84
11       USA 1996-01-31  13.80
14       USA 1996-04-30  13.63
..       ...        ...    ...
329      USA 2022-07-31   8.73
332      USA 2022-10-31  10.16
335      USA 2023-01-31  11.21
338      USA 2023-04-30  11.48
341      USA 2023-07-31  11.48

[114 rows x 3 columns]

In [53]:
USCLIR['DATE'] = pd.to_datetime(USCLIR['DATE']).dt.strftime('%m-%d-%Y')
USCLIR

    LOCATION        DATE   CLIR
2        USA  04-30-1995  14.10
5        USA  07-31-1995  14.03
8        USA  10-31-1995  13.84
11       USA  01-31-1996  13.80
14       USA  04-30-1996  13.63
..       ...         ...    ...
329      USA  07-31-2022   8.73
332      USA  10-31-2022  10.16
335      USA  01-31-2023  11.21
338      USA  04-30-2023  11.48
341      USA  07-31-2023  11.48

[114 rows x 3 columns]

In [43]:
# rest of world personal bank interest rates ( Finance Rate on Personal Loans at Commercial Banks), quarterly/monthly  
EUCLIR = pd.read_csv("/Users/victoriapuck-karam/Downloads/DATA/ECB_CLIR.csv")
EUCLIR

,DATE,Austria,Belgium,Germany,Estonia,Finland,France,Greece,Ireland,Netherlands,Portugal,Slovenia
0,12/31/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/31/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2/28/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3/31/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4/30/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
197,5/31/23,5.52,4.98,5.62,6.41,5.90,3.41,7.09,6.21,3.67,6.16,4.73
198,6/30/23,5.48,5.19,5.77,6.22,5.83,3.63,5.50,7.57,3.78,6.46,4.85
199,7/31/23,5.79,5.28,7.06,6.43,5.98,3.77,5.86,6.21,3.30,6.48,5.13
200,8/31/23,6.06,5.43,6.31,6.94,6.01,3.50,5.68,6.12,2.69,6.79,5.04
201,9/30/23,6.04,5.60,6.29,6.87,6.48,3.56,5.76,6.11,2.77,6.53,5.30

In [44]:
EUCLIR = EUCLIR.melt(id_vars='DATE', var_name='Country', value_name='Rate')
EUCLIR

          DATE   Country  Rate
0     12/31/06   Austria   NaN
1      1/31/07   Austria   NaN
2      2/28/07   Austria   NaN
3      3/31/07   Austria   NaN
4      4/30/07   Austria   NaN
...        ...       ...   ...
2217   5/31/23  Slovenia  4.73
2218   6/30/23  Slovenia  4.85
2219   7/31/23  Slovenia  5.13
2220   8/31/23  Slovenia  5.04
2221   9/30/23  Slovenia  5.30

[2222 rows x 3 columns]

In [45]:
EUCLIR= EUCLIR.replace({'Austria': 'AUT',
                            'Australia': 'AUS',
                                'Belgium': 'BEL',
                                'Germany': 'DEU',
                                'Denmark': 'DNK',
                                'Ireland': 'IRL',
                                'Netherlands': 'NLD',
                                'Portugal': 'PRT',
                                'Slovenia': 'SVN',
                                'Spain': 'ESP',
                                'Sweden': 'SWE',
                                'United States': 'USA',
                                'Slovenia': 'SVN'})
EUCLIR

          DATE Country  Rate
0     12/31/06     AUT   NaN
1      1/31/07     AUT   NaN
2      2/28/07     AUT   NaN
3      3/31/07     AUT   NaN
4      4/30/07     AUT   NaN
...        ...     ...   ...
2217   5/31/23     SVN  4.73
2218   6/30/23     SVN  4.85
2219   7/31/23     SVN  5.13
2220   8/31/23     SVN  5.04
2221   9/30/23     SVN  5.30

[2222 rows x 3 columns]

In [50]:

EUCLIR['DATE'] = pd.to_datetime(EUCLIR['DATE'])
EUCLIR

           DATE Country  Rate
0    2006-12-31     AUT   NaN
1    2007-01-31     AUT   NaN
2    2007-02-28     AUT   NaN
3    2007-03-31     AUT   NaN
4    2007-04-30     AUT   NaN
...         ...     ...   ...
2217 2023-05-31     SVN  4.73
2218 2023-06-30     SVN  4.85
2219 2023-07-31     SVN  5.13
2220 2023-08-31     SVN  5.04
2221 2023-09-30     SVN  5.30

[2222 rows x 3 columns]

In [52]:
EUCLIR = EUCLIR[EUCLIR['DATE'].dt.month.isin([1, 4, 7, 10])]
EUCLIR['DATE'] = pd.to_datetime(EUCLIR['DATE']).dt.strftime('%m-%d-%Y')
EUCLIR

            DATE Country  Rate
1     01-31-2007     AUT   NaN
4     04-30-2007     AUT   NaN
7     07-31-2007     AUT   NaN
10    10-31-2007     AUT   NaN
13    01-31-2008     AUT   NaN
...          ...     ...   ...
2207  07-31-2022     SVN  2.24
2210  10-31-2022     SVN  3.50
2213  01-31-2023     SVN  4.34
2216  04-30-2023     SVN  4.48
2219  07-31-2023     SVN  5.13

[737 rows x 3 columns]

In [54]:

EUCLIR = EUCLIR.rename(columns={'Rate': 'CLIR'})
EUCLIR = EUCLIR.rename(columns={'Country': 'LOCATION'})
EUCLIR

            DATE LOCATION  CLIR
1     01-31-2007      AUT   NaN
4     04-30-2007      AUT   NaN
7     07-31-2007      AUT   NaN
10    10-31-2007      AUT   NaN
13    01-31-2008      AUT   NaN
...          ...      ...   ...
2207  07-31-2022      SVN  2.24
2210  10-31-2022      SVN  3.50
2213  01-31-2023      SVN  4.34
2216  04-30-2023      SVN  4.48
2219  07-31-2023      SVN  5.13

[737 rows x 3 columns]

In [55]:
CLIR = pd.concat([USCLIR, EUCLIR])
CLIR

     LOCATION        DATE   CLIR
2         USA  04-30-1995  14.10
5         USA  07-31-1995  14.03
8         USA  10-31-1995  13.84
11        USA  01-31-1996  13.80
14        USA  04-30-1996  13.63
...       ...         ...    ...
2207      SVN  07-31-2022   2.24
2210      SVN  10-31-2022   3.50
2213      SVN  01-31-2023   4.34
2216      SVN  04-30-2023   4.48
2219      SVN  07-31-2023   5.13

[851 rows x 3 columns]

In [66]:
CLIR = CLIR.rename(columns={'DATE': 'TIME'})
CLIR

     LOCATION        TIME   CLIR
2         USA  04-30-1995  14.10
5         USA  07-31-1995  14.03
8         USA  10-31-1995  13.84
11        USA  01-31-1996  13.80
14        USA  04-30-1996  13.63
...       ...         ...    ...
2207      SVN  07-31-2022   2.24
2210      SVN  10-31-2022   3.50
2213      SVN  01-31-2023   4.34
2216      SVN  04-30-2023   4.48
2219      SVN  07-31-2023   5.13

[851 rows x 3 columns]

In [57]:

QGDP = QGDP.rename(columns={'YEAR': 'TIME'})
QGDP

     LOCATION       TIME      QGDP
114       AUS 1995-01-31  0.012790
115       AUS 1995-04-30  0.419946
116       AUS 1995-07-31  2.261020
117       AUS 1995-10-31 -0.018479
118       AUS 1996-01-31  1.646926
...       ...        ...       ...
4527      SWE 2022-04-30  0.794178
4528      SWE 2022-07-31  0.430340
4529      SWE 2022-10-31 -0.804787
4530      SWE 2023-01-31  0.413378
4531      SWE 2023-04-30 -0.828033

[1594 rows x 3 columns]

In [58]:
HGI = HGI.rename(columns={'YEAR': 'TIME'})
HGI

     LOCATION       TIME  HHDI
0         AUS 1995-01-31   NaN
1         AUS 1995-04-30   NaN
2         AUS 1995-07-31   NaN
3         AUS 1995-10-31   NaN
4         AUS 1996-01-31   NaN
...       ...        ...   ...
1542      USA 2022-04-30 -0.42
1543      USA 2022-07-31  0.57
1544      USA 2022-10-31  0.14
1545      USA 2023-01-31  2.29
1546      USA 2023-04-30  0.49

[1547 rows x 3 columns]

In [62]:
EMP = EMP.rename(columns={'YEAR': 'TIME'})
EMP

     LOCATION       TIME       EMP
0         AUS 1995-01-31  67.09098
1         AUS 1995-04-30  67.61976
2         AUS 1995-07-31  67.81106
3         AUS 1995-10-31  67.92979
4         AUS 1996-01-31  67.89287
...       ...        ...       ...
3244      SVN 2022-04-30  73.01576
3245      SVN 2022-07-31  73.39708
3246      SVN 2022-10-31  72.93623
3247      SVN 2023-01-31  72.04592
3248      SVN 2023-04-30  72.95356

[1385 rows x 3 columns]

In [59]:
HHSAV = HHSAV.rename(columns={'YEAR': 'TIME'})
HHSAV

     LOCATION       TIME      HHSAV
0         AUS 1995-01-31   4.720235
1         AUS 1996-04-30   6.253161
2         AUS 1997-07-31   3.293848
3         AUS 1998-10-31   0.767646
4         AUS 1999-01-31   0.315687
...       ...        ...        ...
5707      USA 2017-10-31   7.504951
5708      USA 2018-01-31   7.824186
5709      USA 2019-04-30   9.133134
5710      USA 2020-07-31  17.490359
5711      USA 2021-10-31  12.362904

[5712 rows x 3 columns]

In [60]:
ECT = ECT.rename(columns={'YEAR': 'TIME'})
ECT

     LOCATION       TIME  COMPEMPLOYEEACTY
0         SWE 1995-01-31         49.706725
1         SWE 1996-04-30         51.091219
2         SWE 1997-07-31         50.925700
3         SWE 1998-10-31         48.574070
4         SWE 1999-01-31         48.916415
...       ...        ...               ...
1559      NLD 2018-10-31         53.396320
1560      NLD 2019-01-31         53.640063
1561      NLD 2020-04-30         56.752975
1562      NLD 2021-07-31         54.144303
1563      NLD 2022-10-31         52.532731

[1564 rows x 3 columns]

In [61]:
ECT = ECT.rename(columns={'COMPEMPLOYEEACTY': 'ECT'})
ECT

     LOCATION       TIME        ECT
0         SWE 1995-01-31  49.706725
1         SWE 1996-04-30  51.091219
2         SWE 1997-07-31  50.925700
3         SWE 1998-10-31  48.574070
4         SWE 1999-01-31  48.916415
...       ...        ...        ...
1559      NLD 2018-10-31  53.396320
1560      NLD 2019-01-31  53.640063
1561      NLD 2020-04-30  56.752975
1562      NLD 2021-07-31  54.144303
1563      NLD 2022-10-31  52.532731

[1564 rows x 3 columns]

In [69]:
HGI

     LOCATION       TIME  HHDI
0         AUS 1995-01-31   NaN
1         AUS 1995-04-30   NaN
2         AUS 1995-07-31   NaN
3         AUS 1995-10-31   NaN
4         AUS 1996-01-31   NaN
...       ...        ...   ...
1542      USA 2022-04-30 -0.42
1543      USA 2022-07-31  0.57
1544      USA 2022-10-31  0.14
1545      USA 2023-01-31  2.29
1546      USA 2023-04-30  0.49

[1547 rows x 3 columns]

In [67]:
QGDP['TIME'] = pd.to_datetime(QGDP['TIME'], format='%m-%d-%Y')
HGI['TIME'] = pd.to_datetime(HGI['TIME'], format='%m-%d-%Y')
HHSAV['TIME'] = pd.to_datetime(HHSAV['TIME'], format='%m-%d-%Y')
EMP['TIME'] = pd.to_datetime(EMP['TIME'], format='%m-%d-%Y')
ECT['TIME'] = pd.to_datetime(ECT['TIME'], format='%m-%d-%Y')
CLIR['TIME'] = pd.to_datetime(CLIR['TIME'], format='%m-%d-%Y')

In [77]:
QGDP = QGDP.drop_duplicates(subset=['LOCATION', 'TIME'], keep='first')
HHSAV = HHSAV.drop_duplicates(subset=['LOCATION', 'TIME'], keep='first')

In [85]:
HGI = HGI.drop_duplicates(subset=['LOCATION', 'TIME'], keep='first')
HGI

     LOCATION       TIME  HHDI
0         AUS 1995-01-31   NaN
1         AUS 1995-04-30   NaN
2         AUS 1995-07-31   NaN
3         AUS 1995-10-31   NaN
4         AUS 1996-01-31   NaN
...       ...        ...   ...
1542      USA 2022-04-30 -0.42
1543      USA 2022-07-31  0.57
1544      USA 2022-10-31  0.14
1545      USA 2023-01-31  2.29
1546      USA 2023-04-30  0.49

[1433 rows x 3 columns]

In [86]:
merged_df = pd.merge(QGDP, HHSAV, on=['LOCATION', 'TIME'], how='left', suffixes=('_QGDP', '_HHSAV'))
merged_df

     LOCATION       TIME      QGDP      HHSAV
0         AUS 1995-01-31  0.012790   4.720235
1         AUS 1995-04-30  0.419946   4.720235
2         AUS 1995-07-31  2.261020   4.720235
3         AUS 1995-10-31 -0.018479   4.720235
4         AUS 1996-01-31  1.646926   6.253161
...       ...        ...       ...        ...
1589      SWE 2022-04-30  0.794178  13.285107
1590      SWE 2022-07-31  0.430340  13.285107
1591      SWE 2022-10-31 -0.804787  13.285107
1592      SWE 2023-01-31  0.413378        NaN
1593      SWE 2023-04-30 -0.828033        NaN

[1594 rows x 4 columns]

In [87]:
merged_df = pd.merge(merged_df, HGI, on=['LOCATION', 'TIME'], how='left')
merged_df

     LOCATION       TIME      QGDP      HHSAV  HHDI
0         AUS 1995-01-31  0.012790   4.720235   NaN
1         AUS 1995-04-30  0.419946   4.720235   NaN
2         AUS 1995-07-31  2.261020   4.720235   NaN
3         AUS 1995-10-31 -0.018479   4.720235   NaN
4         AUS 1996-01-31  1.646926   6.253161   NaN
...       ...        ...       ...        ...   ...
1589      SWE 2022-04-30  0.794178  13.285107 -1.25
1590      SWE 2022-07-31  0.430340  13.285107 -1.93
1591      SWE 2022-10-31 -0.804787  13.285107  0.11
1592      SWE 2023-01-31  0.413378        NaN -0.99
1593      SWE 2023-04-30 -0.828033        NaN -0.30

[1594 rows x 5 columns]

In [90]:
merged_df = pd.merge(merged_df, ECT, on=['LOCATION', 'TIME'], how='left')
merged_df

     LOCATION       TIME      QGDP      HHSAV  HHDI        ECT
0         AUS 1995-01-31  0.012790   4.720235   NaN  53.300112
1         AUS 1995-04-30  0.419946   4.720235   NaN  53.300112
2         AUS 1995-07-31  2.261020   4.720235   NaN  53.300112
3         AUS 1995-10-31 -0.018479   4.720235   NaN  53.300112
4         AUS 1996-01-31  1.646926   6.253161   NaN  54.207818
...       ...        ...       ...        ...   ...        ...
1589      SWE 2022-04-30  0.794178  13.285107 -1.25  51.079767
1590      SWE 2022-07-31  0.430340  13.285107 -1.93  51.079767
1591      SWE 2022-10-31 -0.804787  13.285107  0.11  51.079767
1592      SWE 2023-01-31  0.413378        NaN -0.99        NaN
1593      SWE 2023-04-30 -0.828033        NaN -0.30        NaN

[1594 rows x 6 columns]

In [91]:
EMP

     LOCATION       TIME       EMP
0         AUS 1995-01-31  67.09098
1         AUS 1995-04-30  67.61976
2         AUS 1995-07-31  67.81106
3         AUS 1995-10-31  67.92979
4         AUS 1996-01-31  67.89287
...       ...        ...       ...
3244      SVN 2022-04-30  73.01576
3245      SVN 2022-07-31  73.39708
3246      SVN 2022-10-31  72.93623
3247      SVN 2023-01-31  72.04592
3248      SVN 2023-04-30  72.95356

[1385 rows x 3 columns]

In [92]:
merged_df = pd.merge(merged_df, EMP, on=['LOCATION', 'TIME'], how='left')
merged_df

     LOCATION       TIME      QGDP      HHSAV  HHDI        ECT       EMP
0         AUS 1995-01-31  0.012790   4.720235   NaN  53.300112  67.09098
1         AUS 1995-04-30  0.419946   4.720235   NaN  53.300112  67.61976
2         AUS 1995-07-31  2.261020   4.720235   NaN  53.300112  67.81106
3         AUS 1995-10-31 -0.018479   4.720235   NaN  53.300112  67.92979
4         AUS 1996-01-31  1.646926   6.253161   NaN  54.207818  67.89287
...       ...        ...       ...        ...   ...        ...       ...
1589      SWE 2022-04-30  0.794178  13.285107 -1.25  51.079767  77.14918
1590      SWE 2022-07-31  0.430340  13.285107 -1.93  51.079767  77.36398
1591      SWE 2022-10-31 -0.804787  13.285107  0.11  51.079767  77.30975
1592      SWE 2023-01-31  0.413378        NaN -0.99        NaN  77.56799
1593      SWE 2023-04-30 -0.828033        NaN -0.30        NaN  77.73667

[1594 rows x 7 columns]

In [94]:
merged_df = pd.merge(merged_df, CLIR, on=['LOCATION', 'TIME'], how='left')
merged_df

     LOCATION       TIME      QGDP      HHSAV  HHDI        ECT       EMP  CLIR
0         AUS 1995-01-31  0.012790   4.720235   NaN  53.300112  67.09098   NaN
1         AUS 1995-04-30  0.419946   4.720235   NaN  53.300112  67.61976   NaN
2         AUS 1995-07-31  2.261020   4.720235   NaN  53.300112  67.81106   NaN
3         AUS 1995-10-31 -0.018479   4.720235   NaN  53.300112  67.92979   NaN
4         AUS 1996-01-31  1.646926   6.253161   NaN  54.207818  67.89287   NaN
...       ...        ...       ...        ...   ...        ...       ...   ...
1589      SWE 2022-04-30  0.794178  13.285107 -1.25  51.079767  77.14918   NaN
1590      SWE 2022-07-31  0.430340  13.285107 -1.93  51.079767  77.36398   NaN
1591      SWE 2022-10-31 -0.804787  13.285107  0.11  51.079767  77.30975   NaN
1592      SWE 2023-01-31  0.413378        NaN -0.99        NaN  77.56799   NaN
1593      SWE 2023-04-30 -0.828033        NaN -0.30        NaN  77.73667   NaN

[1594 rows x 8 columns]

In [95]:
merged_df.to_csv('/Users/victoriapuck-karam/Documents/first5.csv', index=False)

In [133]:
# terms of trade, annually 
TOT = pd.read_csv("/Users/victoriapuck-karam/Downloads/DATA/TERMTRADE.csv")
TOT

     LOCATION  TIME   TERMTRADE
0         AUS  1995   72.900154
1         AUS  1996   75.057177
2         AUS  1997   74.641516
3         AUS  1998   70.970688
4         AUS  1999   73.813117
...       ...   ...         ...
1249     OAVG  2018  100.566643
1250     OAVG  2019  100.907187
1251     OAVG  2020  102.054169
1252     OAVG  2021  101.646030
1253     OAVG  2022   98.906494

[1254 rows x 3 columns]

In [134]:


# Assuming 'TIME' column is in the format 'YYYY'
quarter_end_dates = {
    'Q1': '01-31',
    'Q2': '04-30',
    'Q3': '07-31',
    'Q4': '10-31'
}

# Convert 'TIME' column to datetime format with only the year
TOT['TIME'] = pd.to_datetime(TOT['TIME'], format='%Y')

# Extract the quarter from the existing 'TIME' column
TOT['QUARTER'] = TOT['TIME'].apply(lambda x: 'Q' + str((x.month - 1) // 3 + 1))

# Concatenate the DataFrame for each quarter based on the 'QUARTER' column
TOT_quarters = pd.concat([TOT.assign(TIME=lambda df: pd.to_datetime(quarter_end_dates[quarter] + '-' + df['TIME'].dt.year.astype(str)))
                         for quarter in quarter_end_dates.keys()], ignore_index=True)

In [135]:

TOT = TOT_quarters.drop('QUARTER', axis=1)

In [136]:
TOT

     LOCATION       TIME   TERMTRADE
0         AUS 1995-01-31   72.900154
1         AUS 1996-01-31   75.057177
2         AUS 1997-01-31   74.641516
3         AUS 1998-01-31   70.970688
4         AUS 1999-01-31   73.813117
...       ...        ...         ...
5011     OAVG 2018-10-31  100.566643
5012     OAVG 2019-10-31  100.907187
5013     OAVG 2020-10-31  102.054169
5014     OAVG 2021-10-31  101.646030
5015     OAVG 2022-10-31   98.906494

[5016 rows x 3 columns]

In [137]:
TOT = TOT[TOT['LOCATION'].isin(allowed_locations)]
TOT

     LOCATION       TIME   TERMTRADE
0         AUS 1995-01-31   72.900154
1         AUS 1996-01-31   75.057177
2         AUS 1997-01-31   74.641516
3         AUS 1998-01-31   70.970688
4         AUS 1999-01-31   73.813117
...       ...        ...         ...
4787      SVN 2018-10-31  100.170308
4788      SVN 2019-10-31  100.704499
4789      SVN 2020-10-31  101.431318
4790      SVN 2021-10-31   99.315330
4791      SVN 2022-10-31   96.267375

[1564 rows x 3 columns]

In [140]:
temp = pd.merge(merged_df, TOT, on=['LOCATION', 'TIME'], how='left')
temp

,LOCATION,TIME,QGDP,HHSAV,HHDI,ECT,EMP,CLIR,TERMTRADE
0,AUS,1995-01-31,0.012790,4.720235,NaN,53.300112,67.09098,NaN,72.900154
1,AUS,1995-04-30,0.419946,4.720235,NaN,53.300112,67.61976,NaN,72.900154
2,AUS,1995-07-31,2.261020,4.720235,NaN,53.300112,67.81106,NaN,72.900154
3,AUS,1995-10-31,-0.018479,4.720235,NaN,53.300112,67.92979,NaN,72.900154
4,AUS,1996-01-31,1.646926,6.253161,NaN,54.207818,67.89287,NaN,75.057177
...,...,...,...,...,...,...,...,...,...
1589,SWE,2022-04-30,0.794178,13.285107,-1.25,51.079767,77.14918,NaN,97.038078
1590,SWE,2022-07-31,0.430340,13.285107,-1.93,51.079767,77.36398,NaN,97.038078
1591,SWE,2022-10-31,-0.804787,13.285107,0.11,51.079767,77.30975,NaN,97.038078
1592,SWE,2023-01-31,0.413378,NaN,-0.99,NaN,77.56799,NaN,NaN
1593,SWE,2023-04-30,-0.828033,NaN,-0.30,NaN,77.73667,NaN,NaN

In [142]:
SPI = pd.read_csv("/Users/victoriapuck-karam/Downloads/DATA/SHPRICE.csv")
SPI = SPI[SPI['LOCATION'].isin(allowed_locations)]
SPI

     LOCATION     TIME    SHPRICE
0         AUS  1995-Q1   33.35089
1         AUS  1995-Q2   35.95206
2         AUS  1995-Q3   37.92205
3         AUS  1995-Q4   38.15328
4         AUS  1996-Q1   40.04256
...       ...      ...        ...
4631      SVN  2022-Q3  149.15150
4632      SVN  2022-Q4  138.77240
4633      SVN  2023-Q1  154.90810
4634      SVN  2023-Q2  164.46760
4635      SVN  2023-Q3  161.23520

[1610 rows x 3 columns]

In [143]:

quarter_end_dates = {
    'Q1': '01-31',
    'Q2': '04-30',
    'Q3': '07-31',
    'Q4': '10-31'
}

# Convert to the last day of the corresponding month based on the quarter
SPI['TIME'] = SPI['TIME'].apply(lambda x: pd.to_datetime(quarter_end_dates[x.split('-')[1]] + '-' + x.split('-')[0], format='%m-%d-%Y'))


SPI

     LOCATION       TIME    SHPRICE
0         AUS 1995-01-31   33.35089
1         AUS 1995-04-30   35.95206
2         AUS 1995-07-31   37.92205
3         AUS 1995-10-31   38.15328
4         AUS 1996-01-31   40.04256
...       ...        ...        ...
4631      SVN 2022-07-31  149.15150
4632      SVN 2022-10-31  138.77240
4633      SVN 2023-01-31  154.90810
4634      SVN 2023-04-30  164.46760
4635      SVN 2023-07-31  161.23520

[1610 rows x 3 columns]

In [144]:
temp = pd.merge(temp, SPI, on=['LOCATION', 'TIME'], how='left')
temp

,LOCATION,TIME,QGDP,HHSAV,HHDI,ECT,EMP,CLIR,TERMTRADE,SHPRICE
0,AUS,1995-01-31,0.012790,4.720235,NaN,53.300112,67.09098,NaN,72.900154,33.35089
1,AUS,1995-04-30,0.419946,4.720235,NaN,53.300112,67.61976,NaN,72.900154,35.95206
2,AUS,1995-07-31,2.261020,4.720235,NaN,53.300112,67.81106,NaN,72.900154,37.92205
3,AUS,1995-10-31,-0.018479,4.720235,NaN,53.300112,67.92979,NaN,72.900154,38.15328
4,AUS,1996-01-31,1.646926,6.253161,NaN,54.207818,67.89287,NaN,75.057177,40.04256
...,...,...,...,...,...,...,...,...,...,...
1589,SWE,2022-04-30,0.794178,13.285107,-1.25,51.079767,77.14918,NaN,97.038078,158.52890
1590,SWE,2022-07-31,0.430340,13.285107,-1.93,51.079767,77.36398,NaN,97.038078,148.50670
1591,SWE,2022-10-31,-0.804787,13.285107,0.11,51.079767,77.30975,NaN,97.038078,148.91990
1592,SWE,2023-01-31,0.413378,NaN,-0.99,NaN,77.56799,NaN,NaN,162.58400
1593,SWE,2023-04-30,-0.828033,NaN,-0.30,NaN,77.73667,NaN,NaN,163.37190

In [146]:
temp.to_csv('/Users/victoriapuck-karam/Documents/final_7.csv', index=False)

In [178]:
EER = pd.read_csv("/Users/victoriapuck-karam/Downloads/DATA/BIS.csv")
EER

,Reference area,31/03/1995,30/06/1995,30/09/1995,31/12/1995,31/03/1996,30/06/1996,30/09/1996,31/12/1996,31/03/1997,...,30/06/2021,30/09/2021,31/12/2021,31/03/2022,30/06/2022,30/09/2022,31/12/2022,31/03/2023,30/06/2023,30/09/2023
0,IN:India,193.176667,187.676667,186.980000,174.260000,173.163333,179.523333,174.356667,175.180000,181.596667,...,96.903333,97.543333,97.503333,97.980000,98.470000,98.660000,96.950000,93.903333,94.726667,95.743333
1,IL:Israel,87.940000,85.760000,86.486667,85.720000,85.756667,84.166667,85.510000,83.953333,85.586667,...,102.596667,104.650000,109.680000,110.090000,108.920000,111.190000,109.300000,104.910000,102.136667,101.620000
2,AE:United Arab Emirates,73.456667,70.953333,72.650000,73.913333,75.340000,76.166667,76.246667,76.723333,79.616667,...,96.773333,97.736667,99.046667,100.013333,103.760000,107.750000,109.236667,106.020000,106.710000,108.526667
3,IS:Iceland,170.280000,171.313333,170.806667,169.800000,169.896667,170.703333,170.443333,170.770000,171.733333,...,103.906667,103.550000,103.090000,106.553333,109.693333,108.480000,105.210000,102.270000,105.256667,109.796667
4,MT:Malta,82.283333,83.300000,82.470000,82.710000,82.423333,82.053333,82.620000,83.206667,83.970000,...,101.576667,101.156667,100.883333,101.006667,100.753333,100.430000,102.113333,103.470000,105.000000,106.540000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,CZ:Czechia,67.726667,68.020000,67.796667,68.170000,68.036667,68.256667,70.143333,69.850000,71.156667,...,104.060000,104.146667,104.126667,107.220000,106.496667,106.126667,108.440000,112.180000,114.220000,112.890000
60,PH:Philippines,169.850000,157.993333,164.226667,165.550000,167.823333,169.150000,169.653333,171.000000,176.236667,...,99.810000,96.926667,97.220000,95.776667,97.650000,94.720000,94.846667,95.290000,95.096667,96.500000
61,TR:T&uuml;rkiye,13135.496670,12194.150000,11451.180000,10080.513330,8493.860000,7295.303333,6503.580000,5681.416667,5054.773333,...,79.200000,78.910000,62.863333,49.956667,45.856667,41.960000,40.586667,38.630000,35.023333,27.456667
62,PL:Poland,127.473333,125.673333,124.900000,122.273333,121.970000,118.756667,114.670000,112.016667,111.780000,...,98.776667,97.473333,95.923333,95.973333,94.530000,91.943333,93.596667,94.860000,99.500000,101.920000
63,DE:Germany,89.986667,92.236667,91.223333,92.276667,91.443333,89.996667,90.973333,90.173333,88.356667,...,101.126667,100.453333,99.726667,99.373333,98.446667,97.536667,99.066667,100.140000,101.216667,102.493333

In [179]:
EER= EER.replace({'AT:Austria': 'AUT',
                                'AU:Australia': 'AUS',
                                'BE:Belgium': 'BEL',
                                'DE:Germany': 'DEU',
                                'DK:Denmark': 'DNK',
                                'ES:Spain': 'ESP',
                                'IE:Ireland': 'IRL',
                                'GB:United Kingdom':'GBR',
                                'NL:Netherlands': 'NLD',
                                'PL:Poland': 'POL',
                                'PT:Portugal': 'PRT',
                                'SI:Slovenia': 'SVN',
                                'SE:Sweden': 'SWE',
                                  'US:United States': 'USA'})

In [180]:
EER = EER[EER['Reference area'].isin(allowed_locations)]

In [181]:
EER

,Reference area,31/03/1995,30/06/1995,30/09/1995,31/12/1995,31/03/1996,30/06/1996,30/09/1996,31/12/1996,31/03/1997,...,30/06/2021,30/09/2021,31/12/2021,31/03/2022,30/06/2022,30/09/2022,31/12/2022,31/03/2023,30/06/2023,30/09/2023
6,ESP,89.593333,91.770000,93.060000,93.700000,94.440000,93.500000,93.180000,92.490000,90.570000,...,101.093333,100.606667,100.396667,100.416667,99.896667,99.410000,100.676667,101.603333,102.530000,103.703333
14,USA,74.100000,71.246667,73.116667,75.420000,76.820000,77.470000,77.686667,78.393333,80.966667,...,94.993333,96.156667,97.606667,98.153333,101.383333,105.456667,106.796667,102.766667,102.640000,103.730000
16,IRL,93.040000,93.216667,93.950000,94.123333,94.400000,95.213333,96.680000,98.700000,99.636667,...,101.416667,100.480000,99.220000,98.396667,96.970000,95.366667,96.766667,98.466667,99.403333,99.970000
20,BEL,94.750000,96.860000,95.840000,96.546667,95.683333,94.243333,94.686667,93.570000,91.613333,...,101.096667,100.566667,100.023333,99.916667,98.883333,97.980000,99.070000,100.320000,101.186667,102.033333
26,SWE,99.816667,97.133333,100.506667,108.623333,109.396667,112.386667,113.183333,113.026667,107.763333,...,104.023333,103.073333,103.090000,99.303333,98.680000,96.660000,95.103333,93.930000,92.773333,91.213333
28,AUT,94.113333,95.880000,95.096667,95.646667,95.176667,94.176667,94.723333,94.320000,93.453333,...,100.746667,100.310000,99.843333,99.580000,99.003333,98.346667,99.270000,99.883333,100.446667,101.206667
29,AUS,95.850000,89.413333,93.626667,96.140000,98.510000,104.033333,103.570000,105.000000,105.886667,...,107.323333,103.603333,103.716667,103.546667,106.486667,105.890000,103.226667,103.550000,102.140000,101.866667
31,NLD,93.973333,96.023333,95.143333,95.946667,95.123333,93.666667,94.163333,93.000000,90.673333,...,100.916667,100.343333,99.560000,99.246667,98.370000,97.530000,98.883333,100.003333,101.090000,102.106667
41,SVN,133.840000,137.936667,135.273333,129.790000,122.603333,120.293333,121.836667,119.290000,118.046667,...,101.096667,100.743333,100.810000,101.203333,100.753333,100.326667,101.310000,101.993333,102.836667,104.090000
45,GBR,99.943333,97.173333,97.443333,97.113333,97.286667,98.736667,100.163333,106.803333,112.196667,...,104.673333,104.730000,104.856667,105.956667,103.483333,101.290000,101.283333,101.046667,103.990000,106.600000
48,PRT,95.853333,96.033333,95.710000,95.490000,95.546667,95.113333,95.860000,96.350000,95.880000,...,100.633333,100.343333,100.240000,100.226667,99.890000,99.613333,100.326667,100.896667,101.370000,102.000000
52,DNK,90.470000,93.593333,93.440000,93.850000,93.223333,91.723333,92.410000,91.536667,89.920000,...,100.643333,100.253333,99.596667,99.606667,98.953333,98.490000,100.026667,101.200000,102.256667,103.363333
62,POL,127.473333,125.673333,124.900000,122.273333,121.970000,118.756667,114.670000,112.016667,111.780000,...,98.776667,97.473333,95.923333,95.973333,94.530000,91.943333,93.596667,94.860000,99.500000,101.920000
63,DEU,89.986667,92.236667,91.223333,92.276667,91.443333,89.996667,90.973333,90.173333,88.356667,...,101.126667,100.453333,99.726667,99.373333,98.446667,97.536667,99.066667,100.140000,101.216667,102.493333

In [182]:
EER = pd.melt(EER, id_vars=['Reference area'], var_name='DATE', value_name='EER')
EER

     Reference area        DATE         EER
0               ESP  31/03/1995   89.593333
1               USA  31/03/1995   74.100000
2               IRL  31/03/1995   93.040000
3               BEL  31/03/1995   94.750000
4               SWE  31/03/1995   99.816667
...             ...         ...         ...
1605            GBR  30/09/2023  106.600000
1606            PRT  30/09/2023  102.000000
1607            DNK  30/09/2023  103.363333
1608            POL  30/09/2023  101.920000
1609            DEU  30/09/2023  102.493333

[1610 rows x 3 columns]

In [186]:
EER = EER.rename(columns={'Reference area': 'LOCATION'})
EER

     LOCATION       DATE         EER  YEAR QUARTER
0         ESP 1995-03-31   89.593333  1995  1995Q1
1         USA 1995-03-31   74.100000  1995  1995Q1
2         IRL 1995-03-31   93.040000  1995  1995Q1
3         BEL 1995-03-31   94.750000  1995  1995Q1
4         SWE 1995-03-31   99.816667  1995  1995Q1
...       ...        ...         ...   ...     ...
1605      GBR 2023-09-30  106.600000  2023  2023Q3
1606      PRT 2023-09-30  102.000000  2023  2023Q3
1607      DNK 2023-09-30  103.363333  2023  2023Q3
1608      POL 2023-09-30  101.920000  2023  2023Q3
1609      DEU 2023-09-30  102.493333  2023  2023Q3

[1610 rows x 5 columns]

In [190]:
df_sorted = EER.sort_values(by=['LOCATION','DATE'])

In [191]:
df_sorted

     LOCATION       DATE         EER  YEAR QUARTER
6         AUS 1995-03-31   95.850000  1995  1995Q1
20        AUS 1995-06-30   89.413333  1995  1995Q2
34        AUS 1995-09-30   93.626667  1995  1995Q3
48        AUS 1995-12-31   96.140000  1995  1995Q4
62        AUS 1996-03-31   98.510000  1996  1996Q1
...       ...        ...         ...   ...     ...
1541      USA 2022-09-30  105.456667  2022  2022Q3
1555      USA 2022-12-31  106.796667  2022  2022Q4
1569      USA 2023-03-31  102.766667  2023  2023Q1
1583      USA 2023-06-30  102.640000  2023  2023Q2
1597      USA 2023-09-30  103.730000  2023  2023Q3

[1610 rows x 5 columns]

In [192]:
df_sorted.to_csv('/Users/victoriapuck-karam/Documents/testing.csv', index=False)

In [193]:
EER = pd.read_csv("/Users/victoriapuck-karam/Documents/testing.csv")

In [194]:
EER

     LOCATION         EER QUARTER
0         AUS   95.850000  1995Q1
1         AUS   89.413333  1995Q2
2         AUS   93.626667  1995Q3
3         AUS   96.140000  1995Q4
4         AUS   98.510000  1996Q1
...       ...         ...     ...
1605      USA  105.456667  2022Q3
1606      USA  106.796667  2022Q4
1607      USA  102.766667  2023Q1
1608      USA  102.640000  2023Q2
1609      USA  103.730000  2023Q3

[1610 rows x 3 columns]

In [195]:
EER['QUARTER'] = pd.to_datetime(EER['QUARTER'])

# Extract the year and quarter from the 'QUARTER' column
EER['YEAR'] = EER['QUARTER'].dt.year
EER['QUARTER'] = 'Q' + EER['QUARTER'].dt.quarter.astype(str)

# Combine 'YEAR' and 'QUARTER' columns to get the desired format
EER['YEAR_QUARTER'] = EER['YEAR'].astype(str) + '-' + EER['QUARTER']

# Drop the temporary 'YEAR' and 'QUARTER' columns if needed
EER = EER.drop(['YEAR', 'QUARTER'], axis=1)
EER

     LOCATION         EER YEAR_QUARTER
0         AUS   95.850000      1995-Q1
1         AUS   89.413333      1995-Q2
2         AUS   93.626667      1995-Q3
3         AUS   96.140000      1995-Q4
4         AUS   98.510000      1996-Q1
...       ...         ...          ...
1605      USA  105.456667      2022-Q3
1606      USA  106.796667      2022-Q4
1607      USA  102.766667      2023-Q1
1608      USA  102.640000      2023-Q2
1609      USA  103.730000      2023-Q3

[1610 rows x 3 columns]

In [196]:
EER = EER.rename(columns={'YEAR_QUARTER': 'TIME'})

In [197]:

quarter_end_dates = {
    'Q1': '01-31',
    'Q2': '04-30',
    'Q3': '07-31',
    'Q4': '10-31'
}

# Convert to the last day of the corresponding month based on the quarter
EER['TIME'] = EER['TIME'].apply(lambda x: pd.to_datetime(quarter_end_dates[x.split('-')[1]] + '-' + x.split('-')[0], format='%m-%d-%Y'))

EER

     LOCATION         EER       TIME
0         AUS   95.850000 1995-01-31
1         AUS   89.413333 1995-04-30
2         AUS   93.626667 1995-07-31
3         AUS   96.140000 1995-10-31
4         AUS   98.510000 1996-01-31
...       ...         ...        ...
1605      USA  105.456667 2022-07-31
1606      USA  106.796667 2022-10-31
1607      USA  102.766667 2023-01-31
1608      USA  102.640000 2023-04-30
1609      USA  103.730000 2023-07-31

[1610 rows x 3 columns]

In [198]:
temp = pd.merge(temp, EER, on=['LOCATION', 'TIME'], how='left')
temp

,LOCATION,TIME,QGDP,HHSAV,HHDI,ECT,EMP,CLIR,TERMTRADE,SHPRICE,EER
0,AUS,1995-01-31,0.012790,4.720235,NaN,53.300112,67.09098,NaN,72.900154,33.35089,95.850000
1,AUS,1995-04-30,0.419946,4.720235,NaN,53.300112,67.61976,NaN,72.900154,35.95206,89.413333
2,AUS,1995-07-31,2.261020,4.720235,NaN,53.300112,67.81106,NaN,72.900154,37.92205,93.626667
3,AUS,1995-10-31,-0.018479,4.720235,NaN,53.300112,67.92979,NaN,72.900154,38.15328,96.140000
4,AUS,1996-01-31,1.646926,6.253161,NaN,54.207818,67.89287,NaN,75.057177,40.04256,98.510000
...,...,...,...,...,...,...,...,...,...,...,...
1589,SWE,2022-04-30,0.794178,13.285107,-1.25,51.079767,77.14918,NaN,97.038078,158.52890,98.680000
1590,SWE,2022-07-31,0.430340,13.285107,-1.93,51.079767,77.36398,NaN,97.038078,148.50670,96.660000
1591,SWE,2022-10-31,-0.804787,13.285107,0.11,51.079767,77.30975,NaN,97.038078,148.91990,95.103333
1592,SWE,2023-01-31,0.413378,NaN,-0.99,NaN,77.56799,NaN,NaN,162.58400,93.930000
1593,SWE,2023-04-30,-0.828033,NaN,-0.30,NaN,77.73667,NaN,NaN,163.37190,92.773333

In [199]:
temp.to_csv('/Users/victoriapuck-karam/Documents/mostly_done.csv', index=False)

In [271]:
RPP = pd.read_csv("/Users/victoriapuck-karam/Downloads/DATA/prop_prices.csv")
RPP= RPP.replace({'AT:Austria': 'AUT',
                                'AU:Australia': 'AUS',
                                'BE:Belgium': 'BEL',
                                'DE:Germany': 'DEU',
                                'DK:Denmark': 'DNK',
                                'ES:Spain': 'ESP',
                                'IE:Ireland': 'IRL',
                                'GB:United Kingdom':'GBR',
                                'NL:Netherlands': 'NLD',
                                'PL:Poland': 'POL',
                                'PT:Portugal': 'PRT',
                                'SI:Slovenia': 'SVN',
                                'SE:Sweden': 'SWE',
                                  'US:United States': 'USA'})
RPP = RPP[RPP['Reference area'].isin(allowed_locations)]
RPP = pd.melt(RPP, id_vars=['Reference area'], var_name='DATE', value_name='RPP')
RPP = RPP.rename(columns={'Reference area': 'LOCATION'})
RPP = RPP.sort_values(by=['LOCATION','DATE'])
RPP

    LOCATION  DATE         RPP
0        AUS  1995   31.783325
14       AUS  1996   32.028850
28       AUS  1997   33.305700
42       AUS  1998   35.760125
56       AUS  1999   38.349625
..       ...   ...         ...
333      USA  2018  147.388575
347      USA  2019  153.195025
361      USA  2020  163.465675
375      USA  2021  188.913150
389      USA  2022  214.366450

[392 rows x 3 columns]

In [273]:

q = 4

# Convert DATE column to string for easy manipulation
RPP['DATE'] = RPP['DATE'].astype(str)

# Create a new DataFrame to store the transformed data
transformed_df = pd.DataFrame(columns=RPP.columns)

# Duplicate each row for 'q' quarters
for _, row in RPP.iterrows():
    for quarter in range(1, q + 1):
        new_row = row.copy()
        new_row['DATE'] = f"{row['DATE']}-Q{quarter}"
        transformed_df = transformed_df.append(new_row, ignore_index=True)
transformed_df

/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)
/var/folders/gq/32cj6mm91jj6gg5cpfqnym4w0000gn/T/ipykernel_81260/2498375503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transformed_df = transformed_df.append(new_row, ignore_index=True)

     LOCATION     DATE         RPP
0         AUS  1995-Q1   31.783325
1         AUS  1995-Q2   31.783325
2         AUS  1995-Q3   31.783325
3         AUS  1995-Q4   31.783325
4         AUS  1996-Q1   32.028850
...       ...      ...         ...
1563      USA  2021-Q4  188.913150
1564      USA  2022-Q1  214.366450
1565      USA  2022-Q2  214.366450
1566      USA  2022-Q3  214.366450
1567      USA  2022-Q4  214.366450

[1568 rows x 3 columns]

In [274]:
transformed_df

     LOCATION     DATE         RPP
0         AUS  1995-Q1   31.783325
1         AUS  1995-Q2   31.783325
2         AUS  1995-Q3   31.783325
3         AUS  1995-Q4   31.783325
4         AUS  1996-Q1   32.028850
...       ...      ...         ...
1563      USA  2021-Q4  188.913150
1564      USA  2022-Q1  214.366450
1565      USA  2022-Q2  214.366450
1566      USA  2022-Q3  214.366450
1567      USA  2022-Q4  214.366450

[1568 rows x 3 columns]

In [277]:

quarter_end_dates = {
    'Q1': '01-31',
    'Q2': '04-30',
    'Q3': '07-31',
    'Q4': '10-31'
}

# Convert to the last day of the corresponding month based on the quarter
transformed_df['DATE'] = transformed_df['DATE'].apply(lambda x: pd.to_datetime(quarter_end_dates[x.split('-')[1]] + '-' + x.split('-')[0], format='%m-%d-%Y'))
transformed_df

     LOCATION       DATE         RPP
0         AUS 1995-01-31   31.783325
1         AUS 1995-04-30   31.783325
2         AUS 1995-07-31   31.783325
3         AUS 1995-10-31   31.783325
4         AUS 1996-01-31   32.028850
...       ...        ...         ...
1563      USA 2021-10-31  188.913150
1564      USA 2022-01-31  214.366450
1565      USA 2022-04-30  214.366450
1566      USA 2022-07-31  214.366450
1567      USA 2022-10-31  214.366450

[1568 rows x 3 columns]

In [278]:
 transformed_df= transformed_df.rename(columns={'DATE': 'TIME'})

In [279]:
temp = pd.merge(temp, transformed_df, on=['LOCATION', 'TIME'], how='left')
temp

,LOCATION,TIME,QGDP,HHSAV,HHDI,ECT,EMP,CLIR,TERMTRADE,SHPRICE,EER,RPP
0,AUS,1995-01-31,0.012790,4.720235,NaN,53.300112,67.09098,NaN,72.900154,33.35089,95.850000,31.783325
1,AUS,1995-04-30,0.419946,4.720235,NaN,53.300112,67.61976,NaN,72.900154,35.95206,89.413333,31.783325
2,AUS,1995-07-31,2.261020,4.720235,NaN,53.300112,67.81106,NaN,72.900154,37.92205,93.626667,31.783325
3,AUS,1995-10-31,-0.018479,4.720235,NaN,53.300112,67.92979,NaN,72.900154,38.15328,96.140000,31.783325
4,AUS,1996-01-31,1.646926,6.253161,NaN,54.207818,67.89287,NaN,75.057177,40.04256,98.510000,32.028850
...,...,...,...,...,...,...,...,...,...,...,...,...
1589,SWE,2022-04-30,0.794178,13.285107,-1.25,51.079767,77.14918,NaN,97.038078,158.52890,98.680000,188.269025
1590,SWE,2022-07-31,0.430340,13.285107,-1.93,51.079767,77.36398,NaN,97.038078,148.50670,96.660000,188.269025
1591,SWE,2022-10-31,-0.804787,13.285107,0.11,51.079767,77.30975,NaN,97.038078,148.91990,95.103333,188.269025
1592,SWE,2023-01-31,0.413378,NaN,-0.99,NaN,77.56799,NaN,NaN,162.58400,93.930000,NaN
1593,SWE,2023-04-30,-0.828033,NaN,-0.30,NaN,77.73667,NaN,NaN,163.37190,92.773333,NaN

In [280]:
temp.to_csv('/Users/victoriapuck-karam/Documents/final_10.csv', index=False)

In [333]:
USA_MORT = pd.read_csv("/Users/victoriapuck-karam/Downloads/DATA/USA MORTGAGE.csv")
USA_MORT['LOCATION'] = 'USA'
USA_MORT = USA_MORT.rename(columns={'USA_mort': 'MORT'})
USA_MORT

          DATE  MORT LOCATION
0       1/6/95  9.22      USA
1      1/13/95  9.19      USA
2      1/20/95  9.05      USA
3      1/27/95  9.13      USA
4       2/3/95  8.94      USA
...        ...   ...      ...
1501  10/12/23  7.57      USA
1502  10/19/23  7.63      USA
1503  10/26/23  7.79      USA
1504   11/2/23  7.76      USA
1505   11/9/23  7.50      USA

[1506 rows x 3 columns]

In [334]:
USA_MORT['DATE'] = pd.to_datetime(USA_MORT['DATE'])

# Group by year and quarter, calculate the average for each group
result_df = USA_MORT.groupby([USA_MORT['DATE'].dt.year, USA_MORT['DATE'].dt.quarter])\
    .agg({'DATE': 'first', 'MORT': 'mean', 'LOCATION': 'first'})\
    .reset_index(drop=True)

# Reformat the dates into quarter format
result_df['DATE'] = result_df['DATE'].dt.to_period("Q").dt.strftime('%YQ%q')
result_df

       DATE      MORT LOCATION
0    1995Q1  8.785385      USA
1    1995Q2  7.917692      USA
2    1995Q3  7.696154      USA
3    1995Q4  7.339231      USA
4    1996Q1  7.272308      USA
..      ...       ...      ...
111  2022Q4  6.664615      USA
112  2023Q1  6.372308      USA
113  2023Q2  6.510769      USA
114  2023Q3  7.040000      USA
115  2023Q4  7.623333      USA

[116 rows x 3 columns]

In [335]:
result_df[['YEAR', 'QUARTER']] = result_df['DATE'].str.extract(r'(\d{4})(Q\d)')
result_df['REFORMATTED_DATE'] = result_df['YEAR'] + '-' + result_df['QUARTER']

# Drop the 'DATE', 'YEAR', and 'QUARTER' columns
result_df = result_df.drop(['DATE', 'YEAR', 'QUARTER'], axis=1)

# Reorder the columns if needed
result_df = result_df[['REFORMATTED_DATE', 'MORT', 'LOCATION']]
result_df

    REFORMATTED_DATE      MORT LOCATION
0            1995-Q1  8.785385      USA
1            1995-Q2  7.917692      USA
2            1995-Q3  7.696154      USA
3            1995-Q4  7.339231      USA
4            1996-Q1  7.272308      USA
..               ...       ...      ...
111          2022-Q4  6.664615      USA
112          2023-Q1  6.372308      USA
113          2023-Q2  6.510769      USA
114          2023-Q3  7.040000      USA
115          2023-Q4  7.623333      USA

[116 rows x 3 columns]

In [336]:
result_df= result_df.rename(columns={'REFORMATTED_DATE': 'TIME'})

In [337]:

quarter_end_dates = {
    'Q1': '01-31',
    'Q2': '04-30',
    'Q3': '07-31',
    'Q4': '10-31'
}
result_df['TIME'] = result_df['TIME'].apply(lambda x: pd.to_datetime(quarter_end_dates[x.split('-')[1]] + '-' + x.split('-')[0], format='%m-%d-%Y'))

result_df
USA_MORT = result_df.copy()
USA_MORT

          TIME      MORT LOCATION
0   1995-01-31  8.785385      USA
1   1995-04-30  7.917692      USA
2   1995-07-31  7.696154      USA
3   1995-10-31  7.339231      USA
4   1996-01-31  7.272308      USA
..         ...       ...      ...
111 2022-10-31  6.664615      USA
112 2023-01-31  6.372308      USA
113 2023-04-30  6.510769      USA
114 2023-07-31  7.040000      USA
115 2023-10-31  7.623333      USA

[116 rows x 3 columns]

In [338]:
EU_MORT = pd.read_csv("/Users/victoriapuck-karam/Downloads/DATA/EU_MORT.csv")

EU_MORT

,DATE,Austria,Belgium,Germany,Estonia,Spain,Finland,France,Greece,Ireland,Italy,Netherlands,Portugal,Slovenia,Slovakia
0,1/31/03,4.96,5.09,5.32,NaN,4.21,3.96,4.80,4.74,4.14,4.65,4.84,4.40,5.71,NaN
1,2/28/03,4.85,4.96,5.13,NaN,4.06,3.78,4.85,4.84,4.32,4.53,4.69,4.24,5.83,NaN
2,3/31/03,4.80,4.81,5.03,NaN,3.90,3.63,4.71,4.83,4.08,4.51,4.54,4.06,5.33,NaN
3,4/30/03,4.48,4.67,4.99,NaN,3.79,3.63,4.59,4.88,4.03,4.38,4.52,4.01,5.25,NaN
4,5/31/03,4.36,4.66,4.91,NaN,3.72,3.44,4.48,4.88,3.95,4.26,4.51,4.02,5.29,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,5/31/23,3.86,3.54,3.90,5.24,3.71,3.85,2.88,3.91,3.77,4.23,3.73,4.15,4.12,3.78
245,6/30/23,3.87,3.64,4.00,5.44,3.75,4.02,3.04,4.07,3.96,4.24,3.86,4.25,4.12,3.92
246,7/31/23,4.10,3.63,4.00,5.72,3.77,4.14,3.16,4.22,4.02,4.23,3.89,4.34,4.16,3.91
247,8/31/23,3.89,3.69,4.10,5.71,3.88,4.24,3.31,4.18,4.07,4.35,3.91,4.40,4.13,3.94
248,9/30/23,3.79,3.76,4.12,5.83,3.88,4.37,3.36,4.31,4.19,4.34,3.98,4.46,4.10,3.92

In [339]:
EU_MORT['DATE'] = pd.to_datetime(EU_MORT['DATE'])

EU_MORT = pd.melt(EU_MORT, id_vars=['DATE'], var_name='COUNTRY', value_name='MORT')
EU_MORT

           DATE    COUNTRY  MORT
0    2003-01-31    Austria  4.96
1    2003-02-28    Austria  4.85
2    2003-03-31    Austria  4.80
3    2003-04-30    Austria  4.48
4    2003-05-31    Austria  4.36
...         ...        ...   ...
3481 2023-05-31  Slovakia   3.78
3482 2023-06-30  Slovakia   3.92
3483 2023-07-31  Slovakia   3.91
3484 2023-08-31  Slovakia   3.94
3485 2023-09-30  Slovakia   3.92

[3486 rows x 3 columns]

In [340]:
EU_MORT= EU_MORT.replace({'Austria': 'AUT',
                                'Belgium': 'BEL',
                                'Germany': 'DEU',
                                'Spain': 'ESP',
                                'Ireland': 'IRL',
                                'Netherlands': 'NLD',
                                'Portugal': 'PRT',
                                'Slovenia': 'SVN'})
EU_MORT

           DATE    COUNTRY  MORT
0    2003-01-31        AUT  4.96
1    2003-02-28        AUT  4.85
2    2003-03-31        AUT  4.80
3    2003-04-30        AUT  4.48
4    2003-05-31        AUT  4.36
...         ...        ...   ...
3481 2023-05-31  Slovakia   3.78
3482 2023-06-30  Slovakia   3.92
3483 2023-07-31  Slovakia   3.91
3484 2023-08-31  Slovakia   3.94
3485 2023-09-30  Slovakia   3.92

[3486 rows x 3 columns]

In [341]:
allowed_locations = ['AUT','AUS', 'BEL', 'DNK','DEU', 'IRL','NLD', 
                   'POL', 'PRT','ESP', 'SWE', 'USA', 'SVN','GBR']

In [342]:
EU_MORT = EU_MORT[EU_MORT['COUNTRY'].isin(allowed_locations)]

In [343]:
EU_MORT

           DATE COUNTRY  MORT
0    2003-01-31     AUT  4.96
1    2003-02-28     AUT  4.85
2    2003-03-31     AUT  4.80
3    2003-04-30     AUT  4.48
4    2003-05-31     AUT  4.36
...         ...     ...   ...
3232 2023-05-31     SVN  4.12
3233 2023-06-30     SVN  4.12
3234 2023-07-31     SVN  4.16
3235 2023-08-31     SVN  4.13
3236 2023-09-30     SVN  4.10

[1494 rows x 3 columns]

In [344]:
USA_MORT

          TIME      MORT LOCATION
0   1995-01-31  8.785385      USA
1   1995-04-30  7.917692      USA
2   1995-07-31  7.696154      USA
3   1995-10-31  7.339231      USA
4   1996-01-31  7.272308      USA
..         ...       ...      ...
111 2022-10-31  6.664615      USA
112 2023-01-31  6.372308      USA
113 2023-04-30  6.510769      USA
114 2023-07-31  7.040000      USA
115 2023-10-31  7.623333      USA

[116 rows x 3 columns]

In [345]:
EU_MORT = EU_MORT[EU_MORT['DATE'].dt.month.isin([1, 4, 7, 10])]
EU_MORT= EU_MORT.rename(columns={'DATE': 'TIME'})
EU_MORT= EU_MORT.rename(columns={'COUNTRY': 'LOCATION'})
EU_MORT

           TIME LOCATION  MORT
0    2003-01-31      AUT  4.96
3    2003-04-30      AUT  4.48
6    2003-07-31      AUT  4.16
9    2003-10-31      AUT  4.03
12   2004-01-31      AUT  4.25
...         ...      ...   ...
3222 2022-07-31      SVN  2.17
3225 2022-10-31      SVN  3.08
3228 2023-01-31      SVN  3.89
3231 2023-04-30      SVN  4.07
3234 2023-07-31      SVN  4.16

[498 rows x 3 columns]

In [347]:
USA_MORT = USA_MORT[['TIME','LOCATION','MORT']]
USA_MORT

          TIME LOCATION      MORT
0   1995-01-31      USA  8.785385
1   1995-04-30      USA  7.917692
2   1995-07-31      USA  7.696154
3   1995-10-31      USA  7.339231
4   1996-01-31      USA  7.272308
..         ...      ...       ...
111 2022-10-31      USA  6.664615
112 2023-01-31      USA  6.372308
113 2023-04-30      USA  6.510769
114 2023-07-31      USA  7.040000
115 2023-10-31      USA  7.623333

[116 rows x 3 columns]

In [348]:
mortgage = pd.concat([EU_MORT, USA_MORT])
mortgage

          TIME LOCATION      MORT
0   2003-01-31      AUT  4.960000
3   2003-04-30      AUT  4.480000
6   2003-07-31      AUT  4.160000
9   2003-10-31      AUT  4.030000
12  2004-01-31      AUT  4.250000
..         ...      ...       ...
111 2022-10-31      USA  6.664615
112 2023-01-31      USA  6.372308
113 2023-04-30      USA  6.510769
114 2023-07-31      USA  7.040000
115 2023-10-31      USA  7.623333

[614 rows x 3 columns]

In [349]:
mortgage.to_csv('/Users/victoriapuck-karam/Documents/mortgages.csv', index=False)

In [350]:
temp = pd.merge(temp, mortgage, on=['LOCATION', 'TIME'], how='left')
temp

,LOCATION,TIME,QGDP,HHSAV,HHDI,ECT,EMP,CLIR,TERMTRADE,SHPRICE,EER,RPP,MORT
0,AUS,1995-01-31,0.012790,4.720235,NaN,53.300112,67.09098,NaN,72.900154,33.35089,95.850000,31.783325,NaN
1,AUS,1995-04-30,0.419946,4.720235,NaN,53.300112,67.61976,NaN,72.900154,35.95206,89.413333,31.783325,NaN
2,AUS,1995-07-31,2.261020,4.720235,NaN,53.300112,67.81106,NaN,72.900154,37.92205,93.626667,31.783325,NaN
3,AUS,1995-10-31,-0.018479,4.720235,NaN,53.300112,67.92979,NaN,72.900154,38.15328,96.140000,31.783325,NaN
4,AUS,1996-01-31,1.646926,6.253161,NaN,54.207818,67.89287,NaN,75.057177,40.04256,98.510000,32.028850,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1589,SWE,2022-04-30,0.794178,13.285107,-1.25,51.079767,77.14918,NaN,97.038078,158.52890,98.680000,188.269025,NaN
1590,SWE,2022-07-31,0.430340,13.285107,-1.93,51.079767,77.36398,NaN,97.038078,148.50670,96.660000,188.269025,NaN
1591,SWE,2022-10-31,-0.804787,13.285107,0.11,51.079767,77.30975,NaN,97.038078,148.91990,95.103333,188.269025,NaN
1592,SWE,2023-01-31,0.413378,NaN,-0.99,NaN,77.56799,NaN,NaN,162.58400,93.930000,NaN,NaN
1593,SWE,2023-04-30,-0.828033,NaN,-0.30,NaN,77.73667,NaN,NaN,163.37190,92.773333,NaN,NaN

In [352]:
temp.to_csv('/Users/victoriapuck-karam/Documents/final_11.csv', index=False)